{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
    <li><a href="{% url 'issue_view' issues.pk %}">Отмена</a></li>
{% endblock %}

{% block content %}
    <h1>Вы уверены, что хотите удалить статью "{{ issue.title }}"?</h1>
    <p>{{ issues.description }} | {{ issues.created_at }}</p>
    <form action="{% url "issue_delete" issues.pk %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Да"></p>
        <p><a href="{% url 'issue_view' issues.pk %}">Отмена</a></p>
    </form>
    <h3>Содержимое статьи: </h3>
    <p>{{ article.text }}</p>
{% endblock %}
